// GRID
.sHero{
  width: 100%;
  height: 82.1rem;
  padding-top: 20.5rem;
  background: linear-gradient(180deg, #7A57FD 0%, #6135D7 100%);
  .container{
    width: 100%;
    max-width: 117rem; 
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .image{
      position: relative;
      width: 100%;
      max-width: 67.78rem;
      height: 92.3rem;
      margin-left: -13rem;
      img{
        position: absolute;
      }
      .shape{
        top: 6.9rem;
        left: 10rem;
        transform: rotate(-21.37deg);
      }
      .shape2{
        right: 18.6rem;
        top: 36px;
        max-width: 38.2rem;
      }
      .shapeImg{
        top: 0;
        right: 12.2rem;
        max-width: 38.4rem;
      }
      .shape3{
        right: 3.8rem;
        bottom: 25.9rem;
      }
      .detail{
        right: 0;
        bottom: 35rem;
      }

    }
    .text{
      z-index: 100;
      width: 100%;
      margin-right: 2.7rem;
      h1{
        font-family: 'Poppins', sans-serif;
        font-size: 4.8rem;
        line-height: 5.7rem;
        letter-spacing: -0.06em;
        font-weight: 400;

        color: var(--white);
        span{
          font-family: 'Poppins', sans-serif;
          font-size: 4.8rem;
          line-height: 5.7rem;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0;

          color: #FFEAA4;
        }
      }
      p{
        margin: 60px 0;
        width: 49.6rem;
        font-size: 16px;
        font-weight: 400;
        line-height: 3.1rem;

        color: var(--white);
      }
      .inputText{
        background: #7955E8;
        border: 1px solid #A68EEF;
        box-sizing: border-box;
        border-radius: 4px;
        height: 56px;
        color: var(--white);
        width: 100%;
        padding: 2rem;
        transition: all .3s;
        &::placeholder{
          color: var(--white);
        }
        &:focus{
          box-shadow: 0 0 0 0;
          outline: 0;
          color: var(--white);
          border: 1px solid rgba(255, 234, 164, 0.5);
        }
      }
      .bottomForm{
        display: flex;
        align-items: flex-start;
        margin-top: 3rem;
        .choice{
          width: 100%;
          max-width: 60.1rem;
          display: flex;
        }

        .btnSearch{
          padding: 1.4rem 4.4rem;
          background: var(--brand-yellow-light);
          box-shadow: 1px 3px 11px -3px rgba(255, 231, 150, 0.45);
          border-radius: 4px;
          height: 56px;
        
          font-weight: bold;
          font-size: 1.4rem;
          line-height: 1.9rem;
          letter-spacing: -0.02em;
          color: var(--brand-purple-light);
        
          transition: filter 0.3s;
          &:hover{
            filter: brightness(1.05);
          }
        }
      }
      
    }
    .imageDetail{
      position: relative;
      width: 100%;
      max-width: 69.9rem;
      margin-left: -642px;
      height: 95.6rem;
      // Menos o margin top do hero 20.5rem
      top: -20.5rem;
      .imageDetailRight{
        position: absolute;
        left: 60.4rem;
        width: 100%;
      }
    }
  }
}

.footer{
  width: 100%;
  height: 81px;
  z-index: 2  ;
  background-color: #200E64;
}

@media(max-width: 2218px){
  .sHero{
    height: 82.3rem;
    padding-top: 20.5rem;
    .container{
      .text{
        max-width: 604px;
        margin-right: 0;
      }
    }
  }
  .footer{
    height: 30.2rem;
  }
}

@media(max-width: 1920px){
  .sHero{
    height: 82.3rem;
    padding-top: 20.5rem;
  }
  .footer{
    height: 25rem;
  }
}

@media(max-width: 1440px){
  .sHero{
    height: 82.5rem;
    padding-top: 20.5rem;
    .container{
      .image{
        margin-left: -16.5rem;
      }
      .imageDetail{
        .imageDetailRight{
          left: 53.4rem;
          height: 887px;
        }
      } 
    }
  }
}

@media(max-width: 1280px){
  .sHero{
    padding-top: 12.5rem;
    height: 90vh;
    .container{
      .image{
        max-width: 63.78rem;
        margin-left: -22.5rem;
        img{
          max-width: 45% !important; 
        }
        .shape{
          left: 204px;
        }
        .shape2{
          left: 209px;
        }
        .detail{
          bottom: 42rem;
        }
        .shape3{
          max-width: 150px !important;
          bottom: 33.9rem;
        }
      }
      .text{
        padding-top: 2rem;
        margin-left: 8rem;
        p{
          margin: 40px 0;
        }
      }
    }
  }
}

@media(max-width: 1150px){
  .sHero{
    .container{
      .image{
        margin-left: -16.5rem;
      }
      .text{
        margin-left: 0rem;
      }
    }
  }
}

@media(max-width:991px){
  .sHero{
    .container{
      .image{
        margin-top: 8rem;
        .shape{
          max-width: 35% !important;
          top: 4rem;
          left: 15.3rem;
        }
        .shape2{
          max-width: 35% !important;
          left: 16.5rem;
          top: 1rem;
        }
        .shapeImg{
          max-width: 35% !important;
          left: 18rem;
        }
        .shape3{
          max-width: 8rem !important;
          bottom: 49.9rem;
          right: 20.7rem;
        }
        .detail{
          max-width: 5rem !important;
          bottom: 52rem;
          right: 16.19rem;
        }
      }
      .text{
        margin-left: -19.5rem;
        max-width: 505px;
      }
    }
  }
}

@media(max-width: 768px){
  .sHero{
    padding-top: 6.5rem;
    .container{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      .text{
        margin-left: 1rem;
      }
      .imageDetail{
        display: none;
      }
    }
  }
}

@media(max-width: 480px){
 .sHero{
  padding-top: 9.5rem;
  height: 90vh;
   .container{
     .image{
       margin-top: 6rem;
       width: 186%;
       max-width: 34.5rem !important;
       height: 50rem;
       .shape,
       .shape2,
       .shapeImg{
         width: 100%;
         max-width: 208px !important;
         height: 415px;
       }
       .detail,
       .shape3{
         display: none;
       }
     }
     .text{
       width: 100%;
       margin-left: 0;
       padding: 0 2rem;
       h1{
        font-size: 2.8rem;
        line-height: 1rem;
        span{
          font-size: 3.2rem;
        }
       }
       p{
         display: none;
       }

      .inputText{
        margin-top: 6rem;
        max-width: 100%;
        height: 4.8rem;
        font-size: 1.4rem;
      }
      .bottomForm{
        flex-direction: column;
        margin-top: 1.6rem;
        .choice{
          height: 4.8rem;
        }
        .btnSearch{
          width: 100%;
          height: 4.8rem;
          margin-top: 1.6rem;
        }
      }
     }
   }
 }
 .footer{
   height: 9.8rem;
 }
}